#Start of Jyothi Section

##Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

##Import data from CSV files

In [ ]:
df_KddDS = pd.read_csv('/content/kddcup99_csv.csv')

In [ ]:
df_KddDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494020 entries, 0 to 494019
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     494020 non-null  int64
 1   protocol_type                494020 non-null  object
 2   service                      494020 non-null  object
 3   flag                         494020 non-null  object
 4   src_bytes                    494020 non-null  int64
 5   dst_bytes                    494020 non-null  int64
 6   land                         494020 non-null  int64
 7   wrong_fragment               494020 non-null  int64
 8   urgent                       494020 non-null  int64
 9   hot                          494020 non-null  int64
 10  num_failed_logins            494020 non-null  int64
 11  logged_in                    494020 non-null  int64
 12  lnum_compromised             494020 non-null  int64
 13  lroot_shell                  494020 non-null  int64
 14  lsu_attempted                494020 non-null  int64
 15  lnum_root                    494020 non-null  int64
 16  lnum_file_creations          494020 non-null  int64
 17  lnum_shells                  494020 non-null  int64
 18  lnum_access_files            494020 non-null  int64
 19  lnum_outbound_cmds           494020 non-null  int64
 20  is_host_login                494020 non-null  int64
 21  is_guest_login               494020 non-null  int64
 22  count                        494020 non-null  int64
 23  srv_count                    494020 non-null  int64
 24  serror_rate                  494020 non-null  float64
 25  srv_serror_rate              494020 non-null  float64
 26  rerror_rate                  494020 non-null  float64
 27  srv_rerror_rate              494020 non-null  float64
 28  same_srv_rate                494020 non-null  float64
 29  diff_srv_rate                494020 non-null  float64
 30  srv_diff_host_rate           494020 non-null  float64
 31  dst_host_count               494020 non-null  int64
 32  dst_host_srv_count           494020 non-null  int64
 33  dst_host_same_srv_rate       494020 non-null  float64
 34  dst_host_diff_srv_rate       494020 non-null  float64
 35  dst_host_same_src_port_rate  494020 non-null  float64
 36  dst_host_srv_diff_host_rate  494020 non-null  float64
 37  dst_host_serror_rate         494020 non-null  float64
 38  dst_host_srv_serror_rate     494020 non-null  float64
 39  dst_host_rerror_rate         494020 non-null  float64
 40  dst_host_srv_rerror_rate     494020 non-null  float64
 41  label                        494020 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 158.3+ MB

In [ ]:
df_KddDS.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal

##Checking Nulls and Missing values from the dataframe

In [ ]:
#missing value handling
#null detector
is_NaN = df_KddDS.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_KddDS[row_has_NaN]
rows_with_NaN

Empty DataFrame
Columns: [duration, protocol_type, service, flag, src_bytes, dst_bytes, land, wrong_fragment, urgent, hot, num_failed_logins, logged_in, lnum_compromised, lroot_shell, lsu_attempted, lnum_root, lnum_file_creations, lnum_shells, lnum_access_files, lnum_outbound_cmds, is_host_login, is_guest_login, count, srv_count, serror_rate, srv_serror_rate, rerror_rate, srv_rerror_rate, same_srv_rate, diff_srv_rate, srv_diff_host_rate, dst_host_count, dst_host_srv_count, dst_host_same_srv_rate, dst_host_diff_srv_rate, dst_host_same_src_port_rate, dst_host_srv_diff_host_rate, dst_host_serror_rate, dst_host_srv_serror_rate, dst_host_rerror_rate, dst_host_srv_rerror_rate, label]
Index: []

[0 rows x 42 columns]

##Checking Object datatypes which has categories

In [ ]:
#Find all the object datatypes in the dataframe
objcategories = df_KddDS.select_dtypes(include='O').keys()
objcategories

Index(['protocol_type', 'service', 'flag', 'label'], dtype='object')

In [ ]:
#Save a copy of columns with object datatype into the new dataframe
new_df = pd.read_csv('/content/kddcup99_csv.csv',usecols=objcategories) 
new_df.head()

  protocol_type service flag   label
0           tcp    http   SF  normal
1           tcp    http   SF  normal
2           tcp    http   SF  normal
3           tcp    http   SF  normal
4           tcp    http   SF  normal

##One hot encoding

In [ ]:
# for all categorical variables we selected encode 1/0
def top_x(df2,variable,top_x_labels):
    for label in top_x_labels:
        df2[variable+'_'+label] = np.where(data[variable]==label,1,0)
# read the data for the required catageroues again
data = pd.read_csv('/content/kddcup99_csv.csv',usecols=objcategories) 
#encode to one-hot format for every object category
for i in objcategories:
    categories = [x for x in new_df[i].value_counts().sort_values(ascending=False).index]
    top_x(data,i,categories)
# display data
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.

,protocol_type,service,flag,label,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_ecr_i,service_private,service_http,...,label_land,label_warezmaster,label_imap,label_rootkit,label_loadmodule,label_ftp_write,label_multihop,label_phf,label_perl,label_spy
0,tcp,http,SF,normal,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,tcp,http,SF,normal,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,tcp,http,SF,normal,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,tcp,http,SF,normal,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,tcp,http,SF,normal,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494020 entries, 0 to 494019
Columns: 107 entries, protocol_type to label_spy
dtypes: int64(103), object(4)
memory usage: 403.3+ MB

In [ ]:
print(len(data.columns.values))

107

In [ ]:
data.describe().T

                       count      mean       std  min  25%  50%  75%  max
protocol_type_icmp  494020.0  0.574070  0.494484  0.0  0.0  1.0  1.0  1.0
protocol_type_tcp   494020.0  0.384729  0.486532  0.0  0.0  0.0  1.0  1.0
protocol_type_udp   494020.0  0.041201  0.198754  0.0  0.0  0.0  0.0  1.0
service_ecr_i       494020.0  0.569613  0.495131  0.0  0.0  1.0  1.0  1.0
service_private     494020.0  0.224471  0.417234  0.0  0.0  0.0  0.0  1.0
...                      ...       ...       ...  ...  ...  ...  ...  ...
label_ftp_write     494020.0  0.000016  0.004024  0.0  0.0  0.0  0.0  1.0
label_multihop      494020.0  0.000014  0.003764  0.0  0.0  0.0  0.0  1.0
label_phf           494020.0  0.000008  0.002845  0.0  0.0  0.0  0.0  1.0
label_perl          494020.0  0.000006  0.002464  0.0  0.0  0.0  0.0  1.0
label_spy           494020.0  0.000004  0.002012  0.0  0.0  0.0  0.0  1.0

[103 rows x 8 columns]

In [ ]:
#dropping these columns to eliminate duplicates after concatination
data.drop(['protocol_type', 'service', 'flag', 'label'],axis=1,inplace=True)

###Final onehot- encoded dataframe - df3

In [ ]:
df3 = pd.concat([df_KddDS, data],axis=1)

In [ ]:
print(df3.columns.values)

['duration' 'protocol_type' 'service' 'flag' 'src_bytes' 'dst_bytes'
 'land' 'wrong_fragment' 'urgent' 'hot' 'num_failed_logins' 'logged_in'
 'lnum_compromised' 'lroot_shell' 'lsu_attempted' 'lnum_root'
 'lnum_file_creations' 'lnum_shells' 'lnum_access_files'
 'lnum_outbound_cmds' 'is_host_login' 'is_guest_login' 'count' 'srv_count'
 'serror_rate' 'srv_serror_rate' 'rerror_rate' 'srv_rerror_rate'
 'same_srv_rate' 'diff_srv_rate' 'srv_diff_host_rate' 'dst_host_count'
 'dst_host_srv_count' 'dst_host_same_srv_rate' 'dst_host_diff_srv_rate'
 'dst_host_same_src_port_rate' 'dst_host_srv_diff_host_rate'
 'dst_host_serror_rate' 'dst_host_srv_serror_rate' 'dst_host_rerror_rate'
 'dst_host_srv_rerror_rate' 'label' 'protocol_type_icmp'
 'protocol_type_tcp' 'protocol_type_udp' 'service_ecr_i' 'service_private'
 'service_http' 'service_smtp' 'service_other' 'service_domain_u'
 'service_ftp_data' 'service_eco_i' 'service_ftp' 'service_finger'
 'service_urp_i' 'service_telnet' 'service_ntp_u' 'service_auth'
 'service_pop_3' 'service_time' 'service_csnet_ns' 'service_remote_job'
 'service_gopher' 'service_imap4' 'service_discard' 'service_domain'
 'service_iso_tsap' 'service_systat' 'service_shell' 'service_echo'
 'service_rje' 'service_whois' 'service_sql_net' 'service_printer'
 'service_nntp' 'service_courier' 'service_mtp' 'service_netbios_ssn'
 'service_sunrpc' 'service_vmnet' 'service_uucp_path' 'service_uucp'
 'service_klogin' 'service_bgp' 'service_ssh' 'service_supdup'
 'service_nnsp' 'service_login' 'service_hostnames' 'service_efs'
 'service_daytime' 'service_link' 'service_netbios_ns' 'service_ldap'
 'service_pop_2' 'service_netbios_dgm' 'service_exec' 'service_http_443'
 'service_kshell' 'service_name' 'service_ctf' 'service_netstat'
 'service_Z39_50' 'service_IRC' 'service_urh_i' 'service_X11'
 'service_tim_i' 'service_pm_dump' 'service_tftp_u' 'service_red_i'
 'flag_SF' 'flag_S0' 'flag_REJ' 'flag_RSTR' 'flag_RSTO' 'flag_SH'
 'flag_S1' 'flag_S2' 'flag_RSTOS0' 'flag_S3' 'flag_OTH' 'label_smurf'
 'label_neptune' 'label_normal' 'label_back' 'label_satan' 'label_ipsweep'
 'label_portsweep' 'label_warezclient' 'label_teardrop' 'label_pod'
 'label_nmap' 'label_guess_passwd' 'label_buffer_overflow' 'label_land'
 'label_warezmaster' 'label_imap' 'label_rootkit' 'label_loadmodule'
 'label_ftp_write' 'label_multihop' 'label_phf' 'label_perl' 'label_spy']

In [ ]:
df3.describe().T

,count,mean,std,min,25%,50%,75%,max
duration,494020.0,47.979400,707.747185,0.0,0.0,0.0,0.0,58329.0
src_bytes,494020.0,3025.615744,988219.101225,0.0,45.0,520.0,1032.0,693375640.0
dst_bytes,494020.0,868.530774,33040.034672,0.0,0.0,0.0,0.0,5155468.0
land,494020.0,0.000045,0.006673,0.0,0.0,0.0,0.0,1.0
wrong_fragment,494020.0,0.006433,0.134805,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...
label_ftp_write,494020.0,0.000016,0.004024,0.0,0.0,0.0,0.0,1.0
label_multihop,494020.0,0.000014,0.003764,0.0,0.0,0.0,0.0,1.0
label_phf,494020.0,0.000008,0.002845,0.0,0.0,0.0,0.0,1.0
label_perl,494020.0,0.000006,0.002464,0.0,0.0,0.0,0.0,1.0
label_spy,494020.0,0.000004,0.002012,0.0,0.0,0.0,0.0,1.0

In [ ]:
df3 = df3.reindex(columns = [col for col in df3.columns if col != 'label'] + ['label'])
df3

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,label_warezmaster,label_imap,label_rootkit,label_loadmodule,label_ftp_write,label_multihop,label_phf,label_perl,label_spy,label
0,0,tcp,http,SF,181,5450,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
1,0,tcp,http,SF,239,486,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
2,0,tcp,http,SF,235,1337,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
3,0,tcp,http,SF,219,1337,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
4,0,tcp,http,SF,217,2032,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494015,0,tcp,http,SF,310,1881,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
494016,0,tcp,http,SF,282,2286,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
494017,0,tcp,http,SF,203,1200,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
494018,0,tcp,http,SF,291,1200,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal
494019,0,tcp,http,SF,219,1234,0,0,0,0,...,0,0,0,0,0,0,0,0,0,normal

##Train,Test,Validation data Split

###Split dataframe into x and y (i.e features and labels )

In [ ]:
y=df3.pop('label')
X=df3

In [ ]:
# In the first step we will split the data in training and remaining dataset
X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)

# Now since we want the valid and test size to be equal (10% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data)
test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)

print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)

(395216, 144)
(395216,)
(49402, 144)
(49402,)
(49402, 144)
(49402,)

(None, None)

#End of Jyothi Section